/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
    padding: 0;
    margin: 0;
    background-color: #e5e5e5;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.obal {
    width: 960px; /* obsah stránky je omezený do pruhu širokého 960px */
    margin: 0 auto; /* pruh je na stránce vycentrovaný */
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ----- zde začni psát vlastní CSS ----- */

.hlavicka {
    padding: 0px;
    margin: 0px;
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: grey;

}

.menu li {
    padding: 4px 50px 4px 0px;
    margin: 4px;
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
}

.domu {
    text-transform: uppercase;
    font-weight: 700;
    color: black;
}

.vizual {
    position: relative;
    width: 960px;
    height: 540px;
}

.pozadi {
    position: relative;
    width: 960px;
}

.telefon {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.nadpis {
    position: absolute;
    z-index: 1;
    padding: 40px;
    font-size: 85px;
    top: 10px;
    color: white;
    font-weight: 400;

}

.copy {
    position: absolute;
    z-index: 1;
    padding: 40px;
    font-size: 25px;
    top: 180px;
    color: white;
    font-weight: 300;

}

.akce {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 60px;
    padding: 15px 30px;
    color: white;
    
}

.akce a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.tlacitko1 {
    text-decoration: none;
    text-align: center;
    padding: 15px;
    margin: 5px 15px 5px 10px;
    border: 1px solid white;
    border-radius: 5%;
    width: 180px;
    background-color: #48418e;
    box-shadow: 1px 2px 5px #25133d;
}

.tlacitko2 {
    text-decoration: none;
    text-align: center;
    padding: 15px;
    margin: 5px 15px 5px 10px;
    border: 1px solid white;
    border-radius: 5%;
    width: 180px;
    box-shadow: 1px 2px 5px #25133d;
}

.vyhody {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 20px 0px 35px 0px;
    margin: 5px 0px 0px 0px;
}

.cestuj {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    padding: 0px 5px;
}

.letadlo {
   width: 30%;
}

.chatuj {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    padding: 0px 5px;
}

.bubliny {
    width: 30%;
    
}

.dobrodruzstvi {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    padding: 0px 5px;
}

.mapa {
    width: 30%;
}

.paticka {
    background-color: #48418e;
    color: white;
    padding: 2px;
    margin: 0px;
    text-align: center;
    font-size: 14px;
}